## Data Frame
- Pandas는 라벨이 붙어있는 2차원 배열(DataFrame)이나 1차원 배열(Series)을 다루는 도구
- 2차원 배열(DataFrame)의 행에 붙어 있는 라벨을 index(인덱스)라 부름
- 2차원 배열(DataFrame)의 열에 붙어 있는 라벨을 column(컬럼) 또는 변수라 부름
- 1차원 배열에는 행에만 라벨이 붙어 있고, 이를 index(인덱스)라고 부름

## Lab 2 : 데이터 프레임 만들기
- 이름을 index로 만들기

In [1]:
import pandas as pd

In [2]:
df2 = pd.DataFrame([[90,50],[80,60],[60,100],[70,20]],
                  columns = ['english','math'],
                  index = ['김기훈','이유진','박동현','김민지']
)
df2

     english  math
김기훈       90    50
이유진       80    60
박동현       60   100
김민지       70    20

In [4]:
df2.index

Index(['김기훈', '이유진', '박동현', '김민지'], dtype='object')

In [5]:
df2.columns

Index(['english', 'math'], dtype='object')

In [6]:
df2.values

array([[ 90,  50],
       [ 80,  60],
       [ 60, 100],
       [ 70,  20]], dtype=int64)

In [7]:
df2['math'].mean()

57.5

In [8]:
df2 > 50

     english   math
김기훈     True  False
이유진     True   True
박동현     True   True
김민지     True  False

In [9]:
(df2 > 50).sum()

english    4
math       2
dtype: int64

## 실습 1: df1

In [10]:
import pandas as pd

In [12]:
df1 = pd.DataFrame({ '제품' : ['사과','딸기','수박'],
                 '가격' : [1800,1500,3000],
                 '판매량' : [24,38,13]
    
})
df1

   제품    가격  판매량
0  사과  1800   24
1  딸기  1500   38
2  수박  3000   13

In [13]:
df1.index

RangeIndex(start=0, stop=3, step=1)

In [14]:
df1.columns

Index(['제품', '가격', '판매량'], dtype='object')

In [15]:
df1.values

array([['사과', 1800, 24],
       ['딸기', 1500, 38],
       ['수박', 3000, 13]], dtype=object)

In [16]:
df1['가격'].mean()

2100.0

In [17]:
df1['판매량'].mean()

25.0

## 실습 2 : df2

In [18]:
import pandas as pd

In [19]:
df2 = pd.DataFrame([[1800,24],[1500,38],[3000,13]],
                  index = ['사과','딸기','수박'],
                  columns = ['가격','판매량'])
df2

      가격  판매량
사과  1800   24
딸기  1500   38
수박  3000   13

In [28]:
df2.index

Index(['사과', '딸기', '수박'], dtype='object')

In [23]:
df2.columns

Index(['가격', '판매량'], dtype='object')

In [25]:
df2.values

array([[1800,   24],
       [1500,   38],
       [3000,   13]], dtype=int64)

In [29]:
df2['가격'].mean()

2100.0

In [30]:
df2['판매량'].mean()

25.0